<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On
    RewriteBase /Backend/app/index.php/uploads/

    # Allow access to all files and directories
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # If the requested URL is not a file or directory, route it through index.php
    RewriteRule ^ index.php [L]
</IfModule>
